html,body{
    margin:0;
    padding:0;
    height:100%
}

.right-box{
    background-color: blue;
    width: 100%;
    font-size: 80px;
    line-height: 156px;
    color: yellow;
    writing-mode: tb-rl;

    animation: flash .5s linear infinite;
}
@keyframes flash{
    0%{
        opacity:0;
        
    }
    50%{
        opacity:1;
    }
}

.right-fbox{
position: fixed;
top: 0;

background-size: cover;
border:white 3px solid;
border-radius: 10px;
width: 156px;

}


.left-fbox{
    position: fixed;
    top: 30%;
    right: 0;
    width: 200px;
    height: 250px;
    background-color:white;
    border-radius: 5%;
    animation: forQR .5s linear infinite;
}
@keyframes forQR
{
    0%{
        transform: translateY(-100px);
    }
    50%{transform: translateY(100px);}
    100%{transform: translateY(-100px);}
}
.left-fbox:hover{
    animation: none;
}
.left-fbox p{
    font-size: small;
    text-align: center;
    animation: colorChanging .3s linear infinite;
}
@keyframes colorChanging{
    0%{
        color: yellow;
    }
    33%{
        color: red;
    }
    66%{
        color: blue;
    }
}
.index{
    display: block;
    width: 150px;
    height: 40px;
    background-color: yellow;
    font-size: 14px;
    color: red;
    text-decoration: none;
    text-indent: 2em;
    border: red 3px solid;
    line-height: 40px;
    border-radius: 10px;
    animation: twinklingMin .5s linear infinite;
}
@keyframes twinklingMin{
    0%{
        transform: scale(1);
    }
    50%{
        transform:scale(1.1)
    }
    100%{
        transform: scale(1);
    }
}
.index:hover{
    background-color:red;
    color: white;
    animation: twinkling .5s linear infinite;

}
@keyframes twinkling{
    0%{

        transform: scale(1);
    }
    50%{

        transform: scale(2);
    }
    100%{

        transform: scale(1);
    }
}

.info{
    width: 80%;
}
.info div{
    
    border:3px solid yellow;
    padding: 20px;
    margin:auto;
    margin-left: 200px;
    margin-top: 15px;
	font-size: large;
    color:white;
}
.info>div:hover{
    animation: bgcTwk .5s linear infinite;
}

@keyframes bgcTwk{
    0%{
        background-color: black;
        transform: scale(1);
    }
    50%{
        background-color: red;
        transform:scale(1.1)

    }
    100%{
        background-color: black;
        transform: scale(1);

    }
}
 h2{
    animation: colorChanging .5s linear infinite;
}
h4{
    animation: colorChanging 1s linear infinite;
}
.ac{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 150px;
    background-color: yellow;
    border: red 3px;
    border-radius: 5%;
    animation: twinklingMin .3s linear infinite;
}
.ac a{
    text-decoration: none;
}
.ac a div{
    text-align:center;
    margin: 20% 10%;
    color: red;
    font-size: 20px;
}
.ac a div:hover{
    animation: twinkling .5s linear infinite;
}

img:not(.QR){
    left: 50%;
    position: relative;
    animation: imgtwk .5s linear infinite;
}
img:not(.QR):hover{
    animation: twinkling .5s linear infinite;
}
@keyframes imgtwk{
    0%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(-10px);
    }
}

footer{
color:white;
text-align:center;
}
footer p{
    color: black;
}